{{>default}}

<div class="container mt-5 mb-3 mb-lg-5">
    <div class="row">
        <div class="col-12">
            {{#with product}}
            <div class="card mb-3 shadow-4">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img
                            src="../../img/{{img}}"
                            alt="Trendy Pants and Shoes"
                            class="img-fluid rounded-start"
                            />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title black">{{title}}</h5>
                            <p class="card-text">
                                {{subtitle}} (${{price}})
                            </p>

                            <form action="/cart/add/{{id}}" method="post">
                            <p class="black">
                                Quantity
                            </p>
                                <div class="form-outline">
                                    <input type="number"  min="1" max="10" value="1" id="formControlDefault"
                                        class="form-control" name="quantity" />
                                </div>

                                <button  class="btn btn-dark text-dark"
                                    style="background-color: #E6C744;" type="submit">
                                    Add To Card
                                </button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
            {{/with}}
        </div>
    </div>
</div>

{{>footer}}